.mobileVideoUploadContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: linear-gradient(#D4AF37, yellow);
    height: 100vh;
    width: 100%;
}

.CONTAINER {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mobileUploadVideoContainer {
    width: 90%;
    border: solid 1px black;
    border-radius: 10px;
    margin-top: 20px;
}

.mobileVideoUpload__video__progress {
    width: 95%;
    height: 20px;
}

.mobileVideoUpload__fileLabel {
    font-weight: bold;
}

.videoUpload__video {
    margin-top: 10px;
    width: 90%;
    height: 30px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.mobileVideoUpload__title {
    margin-top: 10px;
    width: 90%;
    height: 30px;
}

.mobileVideoUpload__caption {
    margin-top: 10px;
    width: 90%;
    height: 30px;
}

.mobileVideoUpload__date {
    margin-top: 10px;
    width: 90%;
    height: 30px;
}

.mobileButton__videoUpload {
    margin-top: 10px;
    width: 90%;
    height: 30px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.backArrow {
    color: white;
    padding: 10px;
}

.mobileSearchKey {
    margin-top: 10px;
    width: 90%;
    height: 30px;
}