* {
    margin: 0;
    padding: 0;
}

.MobileActivitiesRoot {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(#4267B2, blue);
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}


.MobileActIcon {
    color: white;
    padding: 5px;
}

.MobileActivitiesTITLE {
    text-decoration: none;
    padding: 10px;
    color: white;
}