.AboutContainer {
    display: flex;
    flex: 0.8;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.Church {
    display: flex;
    flex-direction: column;
}

.Church__Logo {
    margin-left: 5px;
}

.Church__Name__Cont {
    display: flex;
    align-items: center;
    margin: 10px;
}

.Church__Name {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-left: 5px;
}

.Church__Location__Cont {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.Church__Location__Logo {
    margin-left: 5px;
}

.Church__Location {
    text-decoration: none;
    color: grey;
    font-size: 14px;
    padding: 5px;
}

.Church__Email__Cont {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.Church__Email__Logo {
    margin-left: 5px;
}

.Church__Email {
    text-decoration: none;
    color: grey;
    font-size: 14px;
    padding: 5px;
}

.Church__Description__Cont {
    display: flex;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.Church__Description__Logo {
    margin-left: 5px;
}

.Church__Description {
    text-decoration: none;
    color: grey;
    font-size: 14px;
    padding: 5px;
}

.DevContainer {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.devText {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.devName {
    text-decoration: none;
    color: grey;
}

.devAvatar {
    margin: 5px;
    border: 1.5px solid black;
}

.avaCont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AboutTitle {
    padding: 20px;
    padding-left: 30px;
}