.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #28282b;
    border-bottom: solid 1px black;
    box-shadow: 0px 5px rgba(0,0,0,0.3);
}

.header__left {
    display: flex;
    align-items: center;
}

.header__logo {
    height: 35px;
    object-fit: contain;
    margin-left: 15px;
}

.header__input {
    display: flex;
    align-items: center;
    width: 45%;
    border: 1px solid lightgray;
    background-color: white;
}

.header__input > input {
    flex: 1;
    border: none;
    outline: none;
}

.header__inputButton {
    text-decoration: none !important;
    width: 50px !important;
    color: black !important;
    background-color: #fafafa !important;
    border-left: 1px solid lightgray !important;
}

.header__inputButton:hover {
    color: red !important;
}

.header__icons {
    display: flex;
    align-items: center;
}

.header__icons > * {
    margin-left: 10px;
    text-decoration: none;
    color: #D4AF37;
}

.header__icons > *:hover {
    color: white;
    transition: 1s;
}

.header__avatar {
    margin-right: 8px;
    cursor: pointer;
    border: solid 1px #ffffff;
}

.home__userContainer {
    display: flex;
}

.modal {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: absolute;
    right: 0;
    top: 0;
}