.SidebarRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.SidebarRow__icon {
    color: #606060;
    font-size: large !important;
}

.SidebarRow__title {
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

.SidebarRow:hover {
    background-color: lightgray;
    cursor: pointer;
}

.SidebarRow:hover > .SidebarRow__icon {
    color: blue;
}

.SidebarRow:hover > .SidebarRow__title {
    font-weight: bold;
}

.SidebarRow.selected {
    background-image: linear-gradient(#4267B2, darkblue);
}

.SidebarRow.selected:hover {
    background-image: linear-gradient(#4267B2, blue);
}

.SidebarRow.selected > .SidebarRow__icon {
    color: white;
}

.SidebarRow.selected > .SidebarRow__title {
    font-weight: bold;
    color: white;
}