.videoUpload__container {
    display: flex;
    flex: 0.8;
    background-color: #f7f7f7;
    flex-direction: column;
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border: solid 1px lightgray;
    background-image: linear-gradient(#D4AF37, yellow);
    box-shadow: 3px 5px lightgray;
    border-radius: 5px;
}

.videoUpload__fileLabel {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.videoUpload__video__progress {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.videoUpload__title {
    height: 30px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 20px;
}

.videoUpload__caption {
    height: 50px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 15px;
}

.videoUpload__video {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

.button__videoUpload {
    margin-top: 10px !important;
}

.button__videoUpload:hover {
    background-color: white !important;
}

.videoUpload__date {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 90%;
    border-radius: 5px;
}