.videoPlayer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.videoPlayer__container>hr {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.videoPlayerBox {
    height: 70vh;
    background-color: black;
}

.videoDetails {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.Caption {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 40px;
    white-space: pre-line;
}

.Caption > p {
    font-size: 18px;
    font-weight: 400;
}

.Comments > .commentTitle > hr {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.commentTitle > h3 {
    padding-left: 40px;
}

.comment__container {
    margin-left: 40px;
}