.videoUpload__container {
    display: flex;
    flex: 0.8;
    background-color: #f7f7f7;
    flex-direction: column;
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border: solid 1px lightgray;
    background-image: linear-gradient(#4267B2, blue);
    box-shadow: 3px 5px lightgray;
    border-radius: 5px;
}

.videoUpload__fileLabel {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.videoUpload__video__progress {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.videoUpload__title {
    height: 30px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
}

.videoUpload__caption {
    height: 50px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
}

.videoUpload__video {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

.button__videoUpload {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    height: 30px;
    width: 150px;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

.button__videoUpload:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    border: solid 1px black;
    cursor: pointer;
}

.videoUpload__date {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 90%;
    border-radius: 5px;
}

.videoUpload__searchKey {
    height: 30px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
}